apache-libcloud==0.14.1
autoenv==1.0.0
cliff==1.6.1
cliff-tablib==1.1
cmd2==0.6.7
configparser==3.3.0r2
flake8==2.1.0
libcloud-rest==0.0.1
libcloudCLI==0.1
mccabe==0.2.1
mock==1.0.1
parinx==0.1.2
pbr==0.8.2
pep8==1.4.6
prettytable==0.7.2
py==1.4.20
pyflakes==0.7.3
pyparsing==2.0.1
python-dateutil==2.1
six==1.6.1
stevedore==0.15
tablib==0.9.11
tox==1.7.1
unittest2==0.5.1

